.jumbotron{
 padding-top: 6rem;
    background-color: none;
    border-radius: 10rem;
}
.navbar{
    background-color: #41679c;
}
#projecsts{
    background-color: #e2edff;
}

.main-footer-menu{
    background-color: #e2edff;
}
.main-footer-menu h3{
    color: rgb(14, 13, 13);
    margin-bottom: 15px;

}
.projecsts img{
    border-radius: 25rem;
}
.projecsts card-text{
    border-radius: 25rem;
}
section{
    padding-top: 5rem;
}
.main-footer-menu a{
    color:rgb(15, 15, 15);
    text-decoration: none;
}
.main-footer-menu a:hover{
    color: #18a6d1;
}
.main-footer-menu ul{
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;

}
.main-footer-menu ul li {
    margin-bottom: 5px;
}
.main-footer-copyright{
    background-color: #e7eef8;
    color: rgb(19, 18, 18);
    border-radius: 20rem;
}
.main-sosial-media img{
    max-width: 65px;
}
.bagian-contak{
    background-color: #fdfdff;
}
.main-reting{
    background-color: #e7eef8;
}
.main-grey img{
    max-width: 250px;
}
.main-blog-info img{
    width: 50px;
    border-radius: 50%;
    float: left;
}
.mian-blog-info{
    color: #666;
    position: relative;
}
.main-blog-info a {
    padding-right: 15px;
    color: #666;
    text-decoration: none;
}
.main-blog-info a:hover{
    color: none;
}
#blog .main-blog-info span {
    font-size: 14px;
    padding-left: 15px;
}
#blog a{
    text-decoration: none;
    color: #666;
}
#blog a:hover{

    color:none;
}
.masukan{
    background-color: #e7eef8;
}
.main-btn a:hover{
    color: #18a6d1;
}
.testi{
    background-color: #e7eef8;
    border-radius: 12rem;
}
.main-btn{
    background-color: #fdfdff;
}
